<table id='topic-list' style='margin-bottom:12px;'>
  <tr>
    <th>
      <a href="/users/{{unbound username}}">
                {{avatar this imageSize="small"}}
                {{unbound name}}
      </a>
    </th>
  </tr>
  <tr>
    <td>{{unbound last_seen_at}}</td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>
